!!!
%html
  %head
    %title Blocitoff
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .nav
      %ul
        %li= link_to 'Home', authenticated_root_path(id: current_user.id)
        %li= link_to 'Sign Up', new_user_registration_path
        %li= link_to 'Sign In', new_user_session_path
        %li= link_to 'Sign Out', destroy_user_session_path, method: :delete
    %p= flash[:notice] if flash[:notice]
    %p= flash[:alert] if flash[:alert]

    = yield
